@{
    ViewData["Title"] = "Home Page";
}    
<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <p>Use o menu superior para navegar.</p>
</div>
<div class="center">
    <img src="~/img/fundo-desfocado-de-livros-na-biblioteca.jpg" height="30%" width="100%" alt="Livro" class="livro">

</div>